.form-container {
  height: 65vh;
  width: 30vw;
  background-color: #066ace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0.3rem 1rem 1.8rem #000;
}

form {
  background: transparent;
}

input {
  background: white;
  border-color: transparent;
  border-radius: 2px;
}
h4 {
  background: transparent;
}

p.form {
  color: rgb(252, 84, 115);
  font-size: 0.55em;
  background: transparent;
}

.border-error {
  border: 2px solid rgb(252, 84, 115);
}

.border {
  border: 1px inset green;
  border-color: green;
}

input {
  padding: 5px;
  margin: 0.7em 0;
  width: 20vw;
}

button[type='submit'] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  width: 6em;
}

.payloadMessage {
  font-size: 0.7em;
}
